<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta name="color-scheme" content="light dark">

  <title>
    {%- if page.title -%}
      {{ page.title }} &middot;
    {%- elsif page.title_key -%}
      {{ site.data.strings[page.title_key][site.active_lang] }} &middot;
    {%- endif %} {{ site.data.strings.shidinn[site.active_lang] | default: site.title }}
  </title>
  {% seo title=false canonical=false %}
  {% I18n_Headers %}

  <link rel="preload" href="{{ site.baseurl }}/fonts/XEGOEPUAall.woff2" as="font" type="font/woff2" crossorigin>

  <link rel="stylesheet" href="https://fonts.font.im/css?family=Source+Sans+Pro:400,700,400italic|Source+Code+Pro:400,700" type="text/css">
  <link rel="stylesheet" href="https://fonts.font.im/css?family=Noto+Sans+SC:400,700" type="text/css">
  <!--<link rel="stylesheet" href="{{ site.baseurl }}/css/font-awesome.min.css" type="text/css">-->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" type="text/css">

  <link rel="icon" type="image/png" sizes="192x192" href="{{ site.baseurl }}/favicon.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ site.baseurl }}/apple-touch-icon.png">
  
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}/atom.xml">
</head>
