+++
title = "主页"
linkTitle = "主页"
+++

{{< blocks/cover title="希顶语" image_anchor="middle" height="full" color="dark" >}}
<div class="col">
	<p class="lead">此后如竟没有炬火，<br />我便是唯一的光。</p>
    <p class="lead">—— 鲁迅《热风》</p>
	<p class="lead"></p>
	{{< blocks/link-down color="white" >}}
</div>
{{< /blocks/cover >}}

{{< blocks/section color="blue" >}}

{{% blocks/feature icon="fas fa-crow" title="一个人的语言" %}}
<p>30 年来，希顶语同它的创造者一道，浮沉在悲哀的人生中。</p>
<p>直到现在，我们犹在航向未知。</p>
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-question" title="希顶何为？" %}}
<p>通过音义复合的 45 个希顶字母，希顶语仿拟汉字六书对汉字进行编码，以期实现创始人「消灭同音字」的目标。</p>
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-code-branch" title="开放天空" %}}
<p>希顶没有完成之日，亦不拘泥于一隅。您的贡献将为无数人所关注。</p>
{{% /blocks/feature %}}
{{< /blocks/section >}}

{{< blocks/section color="white" >}}

{{% blocks/feature icon="fa" title="" %}}
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-book" title="我不会希顶语" %}}
我会中文和普通话拼音。
<div class="mx-auto">
	<a class="btn btn-lg btn-light mr-3 mb-4" href="#">
		由中文学希顶语 <i class="fas fa-map ml-2"></i>
	</a>
</div>
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-directions" title="其他语言版"%}}
<div class="mx-auto">
    <p></p>
	<a lang="art-x-xdi8" href="/">
		&#8679;NiT &#8679;xdi8 &#8679;aho &#8679;yuemdAi <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<br />
	<a lang="en" href="/en">
		Read in English <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
</div>
{{% /blocks/feature %}}
{{< /blocks/section >}}

