+++
title = "kafLH"
linkTitle = "kafLH"
+++

{{< blocks/cover title="⇧xdi8 ⇧aho" image_anchor="middle" height="full" color="dark" >}}
<div class="col">
	<p class="lead">&#8679;HVh6 rA j8 mioEyu6H x5Vho,<br />wo pi2H sE wVoNV de BT.</p>
    <p class="lead">— «&#8679;rex &#8679;f3», &#8679;voH &#8679;78z</p>
	<p class="lead"></p>
	{{< blocks/link-down color="white" >}}
</div>
{{< /blocks/cover >}}

{{< blocks/section color="blue" >}}

{{% blocks/feature icon="fas fa-crow" title="·1· Vga &#8679;r8H de &#8679;7Vi7iY" %}}
<p>·3T· juT lY, &#8679;xdi8 &#8679;aho t3 tiafde lDuTBLH7ie NVcyuT, E4iTr3E zY bi3F4iY de r8Hsu3 z3.</p>
<p>&#8679;H6FLH 3jVzY, woVm8 vy6 zY hTq piT wiLHa.</p>
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-question" title="&#8679;xdi8 &#8679;aho &#8679;hieVwE?" %}}
<p>&#8679;t3zgoz 73-5Y kiYhie de ·45· Vga &#8679;xdi8 &#8679;aho fHLmA, &#8679;xdi8 &#8679;aho VfT8NiT &#8679;fEEfHL ·6·ociY dVH &#8679;fEEfHL zN8x8H abi2sma, NiTeqE ft63jV ExLmie t373fHL de miAHbiLc.</p>
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-code-branch" title="&#8679;kYrfT &#8679;ti2k3" %}}
<p>&#8679;xdi8 &#8679;aho mioEyu6H wTHD8 zEH rE, 5iL bA 8NAEnEyA NV17ia. &#8679;Fnu8 de xg352 jT wE w6su6H r8H so gEEka.</p>
{{% /blocks/feature %}}
{{< /blocks/section >}}

{{< blocks/section color="white" >}}

{{% blocks/feature icon="fa" title="" %}}
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-book" title="&#8679;kVcdT" %}}
&#8679;xdi8 &#8679;aho HLx78i Na zo1hu8 clajea yAHV.
<div class="mx-auto">
	<a class="btn btn-lg btn-light mr-3 mb-4" href="#">
		&#8679;Dua2ki2 &#8679;kVcdT <i class="fas fa-map ml-2"></i>
	</a>
</div>
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-directions" title="&#8679;bA &#8679;di3Y &#8679;xdi8 &#8679;aho?"%}}
<div class="mx-auto no-xdi8">
    <p></p>
	<a lang="cmn-Hans" href="/cmn-hans">
		以中文阅读 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<br />
	<a lang="en" href="/en">
		Read in English <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
</div>
{{% /blocks/feature %}}
{{< /blocks/section >}}

