@font-face {
    font-family: "Fira Xdi8";
    src: url(https://cdn.jsdelivr.net/gh/edward-martyr/syyon-vencie@2f449da/FiraXdi8-Regular-subset.ttf) format('ttf')
}

@font-face {
    font-family: 'Fira Xdi8 Variable';
    src: url(https://cdn.jsdelivr.net/gh/edward-martyr/syyon-vencie@2f449da/Fira%20Xdi8%20Variable-subset.woff2) format('woff2-variations');
    font-weight: 100 900
}

*:lang(art-x-xdi8):not(.fa):not(.fab):not(.fas) {
    font-family: "Fira Xdi8 Variable", "Fira Xdi8", FiraGO, "Fira Sans", "Source Sans Variable", "MI Lan Pro VF", sans-serif;
    text-transform: none !important 
}

.mt-0 {
    margin-bottom: -0.5em;
}

.nav-item.dropdown.d-none {
    display: block !important
}

.no-xdi8, .dropdown-menu.show a {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important
}

