+++
title = "Shidinn Language"
linkTitle = "Shidinn Language"
+++

{{< blocks/cover title="Shidinn Language" image_anchor="middle" height="full" color="dark" >}}
<div class="col">
	<p class="lead">If there were no more flame,<br />I would be the unique light.</p>
    <p class="lead">—— <em>Hot Wind</em> by Lu Xun</p>
	<p class="lead"></p>
	{{< blocks/link-down color="white" >}}
</div>
{{< /blocks/cover >}}

{{< blocks/section color="blue" >}}

{{% blocks/feature icon="fas fa-crow" title="Language of an individual" %}}
<p>For 30 years, the Shidinn Language drifted in the sorrowful life along with its creator.</p>
<p>It is until now that we are still heading for the unknown.</p>
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-question" title="How does it work?" %}}
<p>For “deprecation of homophonic characters” (said the creator), the Shidinn Language imitates the etymology of Chinese characters with a 45-letter Shidinn script in phono-semantic correspondance.</p>
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-code-branch" title="Open Skies" %}}
<p>The architecture of Shidinn never ceases, nor confined to a certain segmented field. Your contribution will draw public attention.</p>
{{% /blocks/feature %}}
{{< /blocks/section >}}

{{< blocks/section color="white" >}}

{{% blocks/feature icon="fa" title="" %}}
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-book" title="I am a Shidinn learner and speak English." %}}

<div class="mx-auto">
	<a class="btn btn-lg btn-light mr-3 mb-4" href="#">
		Learn through English <i class="fas fa-map ml-2"></i>
	</a>
</div>
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-directions" title="In other languages"%}}
<div class="mx-auto">
    <p></p>
	<a lang="art-x-xdi8" href="/">
		&#8679;NiT &#8679;xdi8 &#8679;aho &#8679;yuemdAi <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<br />
	<a lang="cmn-Hans" href="/cmn-hans">
		以中文阅读 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
</div>
{{% /blocks/feature %}}
{{< /blocks/section >}}

