<!DOCTYPE html>
<html lang="{{ site.active_lang }}">

  {% include head.html %}

  <body>
    <nav class="nav-main">
      <ul>
        {% assign left_size = site.navigation.left | size %}
        {% assign right_size = site.navigation.right | size %}
        {% for item in site.navigation.left reversed %}
        <li class="nav-item" data-side="left" data-dist="{{ left_size | plus: 1 | minus: forloop.index }}"><a href="{{ site.baseurl }}{{ item.url }}">{{ site.data.strings[item.key][site.active_lang] }}</a></li>
        {% endfor %}
        {% if left_size < right_size %}{% assign diff = right_size | minus: left_size %}{% for i in (1..diff) %}
        <li class="nav-item" data-side="left" data-dist="{{ left_size | plus: i }}"><a href="{{ site.baseurl }}/">{{ site.data.strings.home[site.active_lang] }}</a></li>
        {% endfor %}{% endif %}
        <li class="nav-logo"><a class="hvr-ripple-out" href="{{ site.baseurl }}/" title="{{ site.data.strings.home[site.active_lang] }}"><img src="{{ site.baseurl }}/asset/logo4.svg" alt="Logo"></a></li>
        {% for item in site.navigation.right %}
        <li class="nav-item" data-side="right" data-dist="{{ forloop.index }}"><a href="{{ site.baseurl }}{{ item.url }}">{{ site.data.strings[item.key][site.active_lang] }}</a></li>
        {% endfor %}
        {% if right_size < left_size %}{% assign diff = left_size | minus: right_size %}{% for i in (1..diff) %}
        <li class="nav-item" data-side="right" data-dist="{{ right_size | plus: i }}"><a href="{{ site.baseurl }}/">{{ site.data.strings.home[site.active_lang] }}</a></li>
        {% endfor %}{% endif %}
      </ul>
      <div class="nav-dropdown"><div></div></div>
    </nav>

    <div class="container content">
      {% include lang-switcher.html %}

      <main>
        {{ content }}
      </main>

      <footer class="footer">
        <div class="ftr-links">
          {% for link in site.data.footer_links %}
          <a href="{{ link.url | escape }}">{{ link.icon | replace: '<svg', '<svg class="icon"' }}</a>
          {% endfor %}
        </div>
      </footer>
    </div>

    <script src="{{ site.baseurl }}/js/common.js" type="text/javascript"></script>
  </body>
</html>
