<!DOCTYPE html>
<html lang="{{ site.active_lang }}">

  {% include head.html %}

  <body>
    <nav class="nav-main">
      <ul>
        <li class="nav-item"><a href="{{ site.baseurl }}/about">{{ site.data.strings.about[site.active_lang] }}</a></li>
        <li class="nav-logo"><a class="hvr-ripple-out" href="{{ site.baseurl }}/" title="{{ site.data.strings.home[site.active_lang] }}"><img src="{{ site.baseurl }}/asset/logo4.svg" alt="Logo"></a></li>
        <li class="nav-item"><a href="{{ site.baseurl }}/blog/">{{ site.data.strings.blog[site.active_lang] }}</a></li>
      </ul>
    </nav>

    <div class="container content">
      {% include lang-switcher.html %}

      <main>
        {{ content }}
      </main>

      <footer class="footer">
        <div class="ftr-links">
          {% for link in site.data.footer_links %}
          <a href="{{ link.url | escape }}">{{ link.icon | replace: '<svg', '<svg class="icon"' }}</a>
          {% endfor %}
        </div>
      </footer>
    </div>

    <script src="{{ site.baseurl }}/js/common.js" type="text/javascript"></script>
  </body>
</html>
