<!DOCTYPE html>
<html lang="{{ site.active_lang }}">

  {% include head.html %}

  <body>
    <nav class="nav-main">
      <ul>
        <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/about/">{{ site.data.strings.about[site.active_lang] }}</a></li>
        <li class="logo"><a class="hvr-ripple-out" href="{{ site.baseurl }}/">C</a></li>
        <li class="hvr-underline-reveal"><a href="{{ site.baseurl }}/blog/">{{ site.data.strings.blog[site.active_lang] }}</a></li>
      </ul>
    </nav>

    <div class="container content">
      <main>
        {{ content }}
      </main>

      <footer class="footer">
        <div class="ftr-links">
          {% for link in site.data.footer_links %}
          <a href="{{ link.url | escape }}">{{ link.icon | replace: '<svg', '<svg class="icon"' }}</a>
          {% endfor %}
        </div>
      </footer>
    </div>

  </body>
</html>
