@font-face {
  font-family: "XEGOEPUAall";
  src: url("/fonts/XEGOEPUAall.woff2") format("woff2");
  font-display: block;
}

[lang] {
  font-family: var(--font-stack);
  --font-stack: "Source Sans Pro", "Noto Sans SC", sans-serif;
  --code-font-stack: "Source Code Pro", monospace, "Noto Sans SC";
}
[lang="zh-Hans"] {
  --font-stack: "Noto Sans SC", "Source Sans Pro", sans-serif;
}
[lang="qsd"] {
  --font-stack: "XEGOEPUAall", "Segoe UI", "Source Sans Pro", "Noto Sans SC", sans-serif;
}
